/*General Rules style for all pages */
hr {
    border:none;
    margin:0;
}


header ul{
    list-style: none;
    display: flex;
    gap: 35px;
    justify-content: center;
}

header h1{
    text-align: center;
    color: white;


}



body{
font-family: 'Times New Roman', Times, serif;
background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='30' height='80' patternTransform='scale(12) rotate(50)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(240,6.7%,17.6%,1)'/><path d='M0 10h20z'  transform='translate(5,0)' stroke-width='0.5' stroke='hsla(47,80.9%,61%,1)' fill='none'/><path d='M0 30h20z'  transform='translate(5,0)' stroke-width='0.5' stroke='hsla(4.1,89.6%,58.4%,1)' fill='none'/><path d='M0 50h20z'  transform='translate(5,0)' stroke-width='0.5' stroke='hsla(186.8,100%,41.6%,1)' fill='none'/><path d='M0 70h20z'  transform='translate(5,0)' stroke-width='0.5' stroke='hsla(258.5,59.4%,59.4%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")

}

main{
padding: 15px 15px 12px 15px;
}


h2, h3{
    color: white;
}

p{
    line-height: 1.6;
    margin-bottom: 16px;
    color: white;
   
}
a, ul{
    color:white;
}

a{
    text-decoration: none;
}

a:hover{
text-decoration:underline;
text-decoration-color: white;
}

table{
    color: white;
}

footer p{
    text-align: center;
}


.img-center{
display:flex;
justify-content: center;
margin:20px 0;
}
/*----------------------------------------------------------------------------------------------------------- */


/* Index Page button - W3Schools gave me */

.btn{
    display:block;
    margin: 20px auto;
    padding:10px 15px;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: aqua;
    border:none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

}
.btn:hover{
    background-color: aquamarine;
}
.btn:active{
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* ------------------------------------------------------------------------------- */

/* lyrics page */

.lyrics-spacing {
text-align: center;
}

/*video centering */

.video-center{
    display: flex;
    justify-content: center;

}